{{!-- banner --}}
<div class="container-fluid custom-banner text-center my-4 py-5">
  <div class="row align-items-center">
    <div class="col">
        <h1 class="custom-banner-title">{{data.category}}</h1>
    </div>
  </div>
</div>

{{!-- cards --}}
<div class="container">
    <div class="row">
        {{#each data.products}}
        <div class="col-md-4 mb-4 category">
            <div class="card h-100">
                <img src="{{this.image}}" class="card-img-top gallery" alt="{{this.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text">Price: ${{this.price}} USD</p>
                    <a href="/{{this.category}}/details/{{this.id}}" class="btn btn-success">View Details</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>